## Task 01

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Ahsan12$',
    database = 'IIUI'
)
mycursor = db.cursor()

mycursor.execute('CREATE DATABASE IIUI')
mycursor.execute('CREATE TABLE employees (Id int PRIMARY KEY NOT NULL AUTO_INCREMENT , name VARCHAR(100) , department_id int , salary float)')
mycursor.execute('CREATE TABLE deptartments (Id int PRIMARY KEY NOT NULL AUTO_INCREMENT , name VARCHAR(100))')

mycursor.execute('INSERT INTO employees (name,department_id,salary) VALUES (%s,%s,%s)', ('Bob Brown',3,45000))
mycursor.execute("INSERT INTO deptartments (name) VALUES (%s)" , ('Sales',))

#Retrieve Data:

mycursor.execute('SELECT name,salary FROM employees')
results = mycursor.fetchall()
for row in results:
    print(f"Name:{row[0]},Salary:{row[1]}")

#Filtering Data:

mycursor.execute("SELECT * FROM employees WHERE department_id = 2  AND salary > 55000")
results = mycursor.fetchall()
for row in results:
    print(row)

#Aggregate Functions:

mycursor.execute('SELECT department_id,Avg(salary) AS avg_salary FROM employees GROUP BY department_id ')
result = mycursor.fetchall()
for row in result:
    print(row)

#Update Data

mycursor.execute("UPDATE employees set salary = 52000 where name = 'John Doe'")
db.commit()
result = mycursor.fetchall()
for row in result:
    print(row)

#Delete row

mycursor.execute("DELETE from employees where name = 'Alice Lee' ")
db.commit()

#Grouping and Counting

mycursor.execute("SELECT department_id,count(*) AS employee_count FROM employees GROUP BY department_id")
result = mycursor.fetchall()
for row in result:
    print(row)